img {
    width:300px;
    float: left;
    
        border-radius: 50%;
    
      
}
head{
    background-color: beige;
}
body {
    background-color: beige;
}
h1 {
    text-align: left;
    font-style: italic;
    font-size: medium;
}





  p {
text-align: center;
color: brown;
margin: 25px;
  }
  #exp {
      background-color: rgb(228, 155, 128);
      color:brown;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border: double white 25px;
      margin: 75px;
      margin-top: 350px;
      position: sticky;

  }
  #writer {

    background-color: darkgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:brown;
    border: double white 25px;

    margin:75px;

  }
  #aboutme {
      margin: 50px;
    background-color: rosybrown;
      position: fixed;
  }

#me2 {
      background-color: rosybrown;
}
  nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:brown;
  }
  
  .one {
    float: left;
  }
  
  .one a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  